@using System.Data
@model DataSet
@{
    Layout = null;
}

<body>
    <br>
    <br>

    <table cellpadding="0" cellspacing="0" align="center">
        <tr>
            <th colspan=4 align="center">Game @ViewBag.NUM - @ViewBag.DATE</th>
        </tr>
        <tr>
            <th colspan=4 align="center">Buy-In: $@ViewBag.BUY</th>
        </tr>
        <tr>
            <th></th>
            <th>Player</th>
            <th>&nbsp Points &nbsp</th>
            <th>Prize</th>
        </tr>
        @{
            string[] pos = { "1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th" };
            int y = 0;
            }
        @foreach (DataRow row in Model.Tables[0].Rows)
            {
            <tr>
                <td>@pos[y]</td>
                <td align="center">@row["player"]</td>
                <td align="center">@row["points"]</td>
                <td align="center">$@Math.Round(Convert.ToDouble(row["prize"]), 2)</td>
            </tr>
            ++y;
        }
    </table>

    <br>
</body>
